// @media css is at the bottom for this file to enable overwriting.

// Setting sass variables.
$primary-font: Calibri, sans-serif;
$primary-font-size: 1.25rem;
$primary-color: #2F5496;

$border-color: grey;

$base-margin: 3.5vw;

// Reset margin and padding of the document's body.
body {
    margin: 0px;
    padding: 0px;
}

// Trying to reproduce a good fit for PDF format.
#App {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3rem;

    width: 50vw;
    min-width: 710px;
    min-height: 75vh;

    background-color: rgb(248, 248, 248);

    // TopElements.jsx
    #top-elements {
        margin-top: 1rem;
        padding-bottom: 1rem;

        background-color: white;

        display: flex;
        justify-content: space-between;

        #paging-btns {
            min-width: 5rem;
            
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                padding: 0;

                font-family: $primary-font;
            }

            button {
                margin-left: 10px;

                border: none;
                background-color: white;
                cursor: pointer;
            }
            button:hover {
                background-color: rgb(180, 180, 180);
                border-radius: 5px;
            }
            
            .selected-page {
                color: blue;
                text-decoration: underline;
            }
        }        
    }

    // FrontPage.jsx
    #front-page {
        margin-top: 4rem;
        margin-left: 5rem;
        margin-right: 5rem;

        img {
            max-width: 350px;
        }
        #signature {
            position: relative;
            top: 1rem;
        }
        #dns-logo {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        h1 {
            margin-top: 5rem;
            text-align: center;
            color: $primary-color;
            font-size: 4rem;
        }
        section {
            font-family: $primary-font;
            font-size: 1.5rem;
            margin-top: 13rem;
            margin-bottom: 3rem;

            span {
                color: $primary-color;
            }
        }

        section > :nth-child(2) {
            p {
                margin: 0;
            }
        }
    }

    // Header.jsx
    #header {
        margin-top: 2rem;

        font-family:'Times New Roman', Times, serif;
        color: $primary-color;
        font-size: 1.15rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        border-bottom: 1px solid $border-color;

        h1 {
            margin-left: $base-margin;
            margin-top: 1.5rem;
        }
        h2 {
            padding-top: 10px;
            padding-left: 1rem;
            padding-bottom: 10px;
            padding-right: 3rem;

            width: 17rem;

            color: white;
            font-weight: normal;

            background-color: $primary-color;
        }

        #content {
            margin-left: $base-margin;

            flex: 100%;

            display: flex;
            justify-content: space-between;

            font-size: $primary-font-size;

            p {  
                margin-bottom: 0.1rem;
            }
            img {
                position: relative;
                top: 1rem;
                max-width: 300px;
            }

            a {
                margin-top: 2.7rem;
                margin-right: 1.75rem;

                color: $primary-color;
                text-decoration: none;
            }
            a:hover {
                color: blue;
                text-decoration: underline;
            }
        }       
    }

    // InternshipReports.jsx
    #internship-reports {
        margin-left: $base-margin;
        margin-right: $base-margin;

        section {
            font-family: $primary-font;
            color: $primary-color;

            #head {
                font-size: $primary-font-size;
            }

            // Reports.jsx
            #report {
                color: black;

                #finished-stories, #started-stories {
                    margin: 0;
                    padding: 0;
                    margin-left: 1rem;

                    color: $primary-color;
                    font-size: 1.10rem;
                }

                ul {
                    margin: 0;
                    padding: 0;

                    margin-left: 3rem;
                    margin-bottom: 1rem;
                }
            }

            #report-table {
                table {
                    margin-top: 2rem;
                    width: 100%;

                    border-top: 1px solid $border-color;

                    font-size: $primary-font-size;

                    tr > :nth-child(1) { // The first td within tr, such as: 'Wat ging er goed:'
                        padding-top: 1rem;
                        padding-bottom: 1rem;
                        border-right: 1px solid $border-color;

                        width: 12rem;
                    }

                    td { // The table's text content
                        border-bottom: 1px solid $border-color;
                    }

                    // ul formatted with: https://www.w3schools.com/howto/howto_css_bullet_color.asp
                    ul {
                        padding-left: 25px;
                        list-style: none;
                    }
                      
                    ul li::before {
                        content: "\2022";
                        color: #FA745F;
                        font-weight: bold;
                        display: inline-block; 
                        width: 1rem;
                        margin-left: -1rem;
                    }

                    li {
                        color: black;
                        font-size: 1rem;
                    }
                }
            }
        }
    }

    // Deprecated code but keeping for potential future use.
    
    // Footer.jsx
    // #footer {
    //     #main {
    //         background-color: #F8F8F8;
    //         border-top: 1px solid #E7E7E7;
    //         padding: 5px;
    //         position: fixed;
    //         left: 0;
    //         bottom: 0;
    //         height: 60px;
    //         width: 100%;

    //         display: flex;
    //         justify-content: center;
    //     }
    //     #phantom {
    //         display: block;
    //         padding: 20px;
    //         height: 60px;
    //         width: 100%;
    //     }
    // }
}

// CSS for printing page.
@page { 
    size:210mm 297mm; 
    margin: 0;
}

@media print {
    #App {
        background-color: white;

        width: 100%;

        #top-elements {
            display: none;
        }
    }
}